<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->





<body>
  <!--<app-nav-menu></app-nav-menu>-->
  <div class="container-fluid">




    <div class="card bg-light mb-5 mt-5" style="width: 62%; margin-left:18%;  ">
      <!--<div class="card-header">ข้อมูลผู้ขอเปิดสิทธิ์เข้าใช้ระบบ E-submission</div>-->
      <div class="card-body" style="margin-right: 20px; background-color:#e0ebe9;">
        <h5 class="card-title" style="text-align:center">ข้อมูลผู้ขอเปิดสิทธิ์เข้าใช้ระบบ E-submission</h5>

        <form class="card-text " style="margin-bottom: 80px; ">

          <div class="row">
            <div class="col-md-3" align="right">เลขบัตรประชาชน :</div>
            <div class="col-md-9">1700400195722	</div>
          </div>

          <div class="row">
            <div class="col-md-3" align="right">ชื่อ-นามสกุล(ภาษาไทย) :	</div>
            <div class="col-md-9">ณัฏฐ์ ลีลาวัฒนานันท์	</div>
          </div>

          <div class="row">
            <div class="col-md-3" align="right">ชื่อ-นามสกุล(ภาษาอังกฤษ) :	</div>
            <div class="col-md-9">-	</div>
          </div>

          <div class="row">
            <div class="col-md-3" align="right">ที่อยู่ :</div>
            <div class="col-md-9">บ้านเลขที่ 190 หมู่ 1 ตำบล ดอนกรวย อำเภอ ดำเนินสะดวก จังหวัด ราชบุรี	</div>
          </div>

        </form>



        <div class="card border  " style=" max-width: 20rem; right: 10px; top: -250px; float: right; background-color:#779b9a;">
          <!--<div class="card-header">การกำหนดสิทธิ์</div>-->
          <div class="card-body text-success">
            <!--<h5 class="card-title">Success Panel title</h5>
            <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
            <div class="col-sm-2 centeralign">
              <button type="button" class="btn btn-primary">กำหนดสิทธิ์สถานที่ผลิต/นำเข้า</button>
              <button type="button" class="btn btn-info">กำหนดสิทธิเจ้าหน้าที่ อย</button>
              <button type="button" class="btn btn-success">กำหนดสิทธิเจ้าหน้าที่ สสจ</button>
              <button type="button" class="btn btn-warning">กำหนดสิทธิเจ้าหน้าที่ ภายนอก</button>
            </div>
          </div>

        </div>

        <table>
          <tr>
            <td style="width:50%; padding-left: 5%; text-align:right" colspan="3">
              <span id="ctl00_ContentPlaceHolder1_lbltaxno">เลขนิติบุคคล/เลขประขาชนของผู้มอบอำนาจ :</span>
            </td>
            <td style="width:35%; text-align:center ; padding-left:1%">

              <input name="ctl00$ContentPlaceHolder1$txtTaxNo" id="ctl00_ContentPlaceHolder1_txtTaxNo" class="form-control" placeholder="โปรดกรอกเป็นตัวเลขเท่านั้น" type="text">
            </td>
            <td style="width:35%; text-align:left  ; padding-left:1%">
              <input class="btn btn-outline-primary" name="ctl00$ContentPlaceHolder1$btnSearchTaxNo" value="ค้นหา" id="ctl00_ContentPlaceHolder1_btnSearchTaxNo" type="submit">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>






  <!--<form>

      <div class="row">
        <div class="col-md-3" align="right">เลขบัตรประชาชน :</div>
        <div class="col-md-9">1700400195722	</div>
      </div>

      <div class="row">
        <div class="col-md-3" align="right">ชื่อ-นามสกุล(ภาษาไทย) :	</div>
        <div class="col-md-9">ณัฏฐ์ ลีลาวัฒนานันท์	</div>
      </div>

      <div class="row">
        <div class="col-md-3" align="right">ชื่อ-นามสกุล(ภาษาอังกฤษ) :	</div>
        <div class="col-md-9">-	</div>
      </div>

      <div class="row">
        <div class="col-md-3" align="right">ที่อยู่ :</div>
        <div class="col-md-9">บ้านเลขที่ 190 หมู่ 1 ตำบล ดอนกรวย อำเภอ ดำเนินสะดวก จังหวัด ราชบุรี	</div>
      </div>

  </form>-->
  <div style="width:85%; text-align:center; margin-left:7%">
    <table class="table table-striped table-bordered">
      <thead style="background-color:#6a9d93; color:white;">
        <tr>
          <th>
            <input type="checkbox">
            <label>เลือกทั้งหมด</label>
          </th>
          <th>ลำดับที่</th>
          <th>รหัสดำเนินการ</th>
          <th>เลขนิติบุคคล/เลขบัตรประชาชนของผู้ได้รับอนุญาต	</th>
          <th>ชื่อผู้รับอนุญาต	</th>
          <th>ชื่อระบบ	</th>
          <th>ชื่อเมนู (เปิดสิทธิ์) </th>
          <th>วันที่หมดอายุ	</th>
          <th>สถานะ</th>
          <th>ดูข้อมูลการกำหนดสิทธิ์</th>
          <th>เปิดสิทธิ์ให้ผู้ประกอบการ </th>
          <th>ยกเลิกสิทธิ์ผู้ประกอบการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>1</td>
          <td>63207469</td>
          <td>0000000000000	</td>
          <td>บริษัท เทสโอลลี่ จำกัดมหาชน (ผู้ประกอบการ)	</td>
          <td>ระบบวัตถุเสพติด(รายงานกัญชา) DEMO	</td>
          <td>สิทธิเข้าใช้งาน(ผู้ประกอบการ)</td>
          <td>29/02/2563</td>
          <td>รอ - กำหนดสิทธิ์สถานที่ผลิต/นำเข้า</td>
          <td><img src="assets/searchicon.png" style="width: 25px;"></td>
          <td><img src="assets/loupeicon.png" style="width: 25px;"></td>
          <td><img src="assets/garbageicon.png" style="width: 25px;"></td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>2</td>
          <td>63207469</td>
          <td>0000000000000	</td>
          <td>บริษัท เทสโอลลี่ จำกัดมหาชน (ผู้ประกอบการ)	</td>
          <td>ระบบวัตถุเสพติด(รายงานกัญชา) DEMO	</td>
          <td>สิทธิเข้าใช้งาน(ผู้ประกอบการ)</td>
          <td>29/02/2563</td>
          <td>รอ - กำหนดสิทธิ์สถานที่ผลิต/นำเข้า</td>
          <td><img src="assets/searchicon.png" style="width: 25px;"></td>
          <td><img src="assets/loupeicon.png" style="width: 25px;"></td>
          <td><img src="assets/garbageicon.png" style="width: 25px;"></td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>3</td>
          <td>63207469</td>
          <td>0000000000000	</td>
          <td>บริษัท เทสโอลลี่ จำกัดมหาชน (ผู้ประกอบการ)	</td>
          <td>ระบบวัตถุเสพติด(รายงานกัญชา) DEMO	</td>
          <td>สิทธิเข้าใช้งาน(ผู้ประกอบการ)</td>
          <td>29/02/2563</td>
          <td>Complaete - กำหนดสิทธิ์สถานที่ผลิต/นำเข้า</td>
          <td><img src="assets/searchicon.png" style="width: 25px;"></td>
          <td><img src="assets/loupeicon.png" style="width: 25px;"></td>
          <td><img src="assets/garbageicon.png" style="width: 25px;"></td>
        </tr>

      </tbody>
    </table>
  </div>

  <router-outlet></router-outlet>

  <!--<div class="panel-footer well-lg text-center text-capitalize modal-content " style="margin-top:20px; height:15%">
    สำนักงานคณะกรรมการอาหารและยา 88/24 ถนนติวานนท์ อำเภอเมือง จังหวัดนนทบุรี 11000 โทรศัพท์ 0-2590-7000
    <br>


  </div>-->
  <!--<footer class="footer">
    <div class="container">
      <span class="text-muted">สำนักงานคณะกรรมการอาหารและยา 88/24 ถนนติวานนท์ อำเภอเมือง จังหวัดนนทบุรี 11000 โทรศัพท์ 0-2590-7000.</span>
    </div>
  </footer>-->



  <div class="footer-copyright text-center py-3" style="background-color:#457371; color:white;		">

    สำนักงานคณะกรรมการอาหารและยา 88/24 ถนนติวานนท์ อำเภอเมือง จังหวัดนนทบุรี 11000 โทรศัพท์ 0-2590-7000.
  </div>


</body>
<!--<div class="card-footer" style=" align-content: end">
  Footer
</div>-->
<!--<div class="card border-primary mb-3" style="width: 100%;">

          <div class="card-body">
            <h5 class="card-title">ข้อมูลผู้ขอเปิดสิทธิ์เข้าใช้ระบบ E-submission</h5>
           </div>
  <div class="card-body">
    <h5 class="card-title">ข้อมูลผู้ขอเปิดสิทธิ์เข้าใช้ระบบ E-submission</h5>

  </div>

  <div class="card border-success mb-3" style="max-width: 20rem; position: relative;right:-20px;top:-50px;float: right;">

    <div class="card-body text-success">

      <div class="col-sm-2 centeralign">
        <button type="button" class="btn btn-primary">เปิดสิทธิ์ให้ผู้ประกอบการ</button>
        <button type="button" class="btn btn-info">กำหนดสิทธิเจ้าหน้าที่ อย</button>
        <button type="button" class="btn btn-success">กำหนดสิทธิเจ้าหน้าที่ สสจ</button>
        <button type="button" class="btn btn-warning">กำหนดสิทธิเจ้าหน้าที่ ภายนอก</button>
      </div>
    </div>

  </div>
</div>-->
